![Snowshoe Hare](https://upload.wikimedia.org/wikipedia/commons/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg)

In [2]:
import pandas as pd

In [3]:
URL = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701"
hares = pd.read_csv(URL)

In [13]:
#What are the dimensions of the dataframe and what are the data types of the columns? Do the data types match what you would expect from each column?
hares.shape
hares.dtypes
#Are there any columns that have a significant number of NA values?
hares.isna
#What are the minimum and maximum values for the weight and hind feet measurements?
hares.min
hares.max
#What are the unique values for some of the categorical columns?
hares.nunique
#An explroatory question about the data frame you come up with!

<bound method DataFrame.nunique of             date      time    grid trap       l_ear r_ear  sex  age  weight  \
0     11/26/1998       NaN  bonrip   1A  414D096A08   NaN  NaN  NaN  1370.0
1     11/26/1998       NaN  bonrip   2C  414D320671   NaN    M  NaN  1430.0
2     11/26/1998       NaN  bonrip   2D  414D103E3A   NaN    M  NaN  1430.0
3     11/26/1998       NaN  bonrip   2E  414D262D43   NaN  NaN  NaN  1490.0
4     11/26/1998       NaN  bonrip   3B  414D2B4B58   NaN  NaN  NaN  1710.0
...          ...       ...     ...  ...         ...   ...  ...  ...     ...
3375    8/8/2002  18:00:00  bonrip  1b         1201  1202  NaN  NaN  1400.0
3376    8/8/2002   6:00:00  bonrip  4b         1201  1202  NaN  NaN     NaN
3377    8/7/2002       NaN  bonrip   4b        1217  1218  NaN  NaN  1000.0
3378    8/8/2002       NaN  bonrip   6d        1217  1218  NaN  NaN   990.0
3379    8/6/2002       NaN  bonrip   4b        1058  1060    M  NaN  1460.0

      hindft notes  b_key  session_id       study
0      160.0   NaN  917.0          51  Population
1        NaN   NaN  936.0          51  Population
2        NaN   NaN  921.0          51  Population
3      135.0   NaN  931.0          51  Population
4      150.0   NaN  933.0          51  Population
...      ...   ...    ...         ...         ...
3375     NaN   NaN   63.0          64  Population
3376     NaN   NaN   63.0          64  Population
3377   134.0   NaN   69.0          64  Population
3378     NaN   NaN   69.0          64  Population
3379   119.0   NaN   32.0          64  Population

[3380 rows x 14 columns]>

In [26]:
#In the metadata section of the EDI repository, find which are the allowed values for the haresâ€™ sex. Create a small table in a markdown cell showing the values and their definitions.
hares['sex'].unique()
#Get the number of times each unique sex non-NA value appears.
hares['sex'].nunique()

#Check the documentation of value_counts(). What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().
hares.value_counts()

#Discuss with your team the output of the unique value counts. In particular:

#Do the values in the sex column correspond to the values declared in the metadata?

#What could have been potential causes for multiple codes?

#Are there seemingly repated values? If so, what could be the cause?

#Write code to confirm your suspicions about c-iii.

array([nan, 'M', 'F', '?', 'F?', 'M?', 'pf', 'm', 'f', 'f?', 'm?', 'f ',
       'm '], dtype=object)

In [29]:
#Check the documentation of value_counts(). What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().
hares['sex'].value_counts(dropna = False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

In [32]:
#6: 
conditions=hares['sex'].isin(['F', 'f', 'f ']),
            hares['sex'].isin(['M', 'm', 'm '])


hares['sex_simple']=np.select(conditions, gender, default=np.nan)
            
print(hares['sex_simple'])

IndentationError: unexpected indent (3634173807.py, line 3)

In [ ]:
hares.groupby('sex_simple').weight.mean()